
<div class="row-fluid">	
	<% i = 0 %>
	<% @profiles.each do |profile| %>
		<% i = i + 1 %>
		<div class="span3 text-left">	
			<div class="well">
				<a href="<%= profile_path(profile) %>">
					<div class="profile_image" style="background">
						<%= image_tag profile.pict_url %>				
					</div>
					
					<h4> <%= profile.name %> </h4>
				</a>
				<hr> 
				<p> 
					<%= profile.bio[0..200] %> 
					<br />
					<%= link_to('Learn more about ' + profile.name + '...', profile_path(profile)) %> 
				</p>
				
			</div>
		</div>
		<% if i == 4 %>
			<%= i = 0 %> 
			</div>
			<div class="row-fluid">
		<% end %>		
	<% end %> 	
</div>
