<div class="row-fluid">
	<div class="span12 text-center">
		<h1> <%= @profile.name %> </h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%= image_tag @profile.pict_url, id: 'profile_photo' %> 	
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<p> 
			<%= @profile.bio %> 
		</p>
	</div>
</div>		

<<<<<<< HEAD

	<div class="span4">
		<div class="row-fluid">
			<div class="span12">
				<%= link_to 'Donate', profile_donations_path(@profile), :class => 'btn btn-primary', style: 'width:100%; padding:10px 0;' %>
			</div>
		</div>
=======
<div class="row-fluid">
	<div class="span12">
		<%= link_to 'Donate', '#', :class => 'btn btn-primary', style: 'width:25%; padding:10px 0;' %>
>>>>>>> a696f712e93c02f6df86bc163ab96d29ae8a32e4
	</div>
</div>
